@keyframes balance {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(30%);
  }
}

@keyframes balance-reverse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-30%);
  }
}

@keyframes balance-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

.site-header {
  position: relative;
  background: $color-blue;

  &__top {
    @include container;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px  20px;
    z-index: 2;
  }

  * {
    //border: solid 1px #444;
  }
}

.site-logo {
  position: relative;
  font-family: 'Fira Mono';
  flex-basis: 50%;
  margin: 0;
  //background-color: #ccc;

  &__link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;

    &, &:visited {
      color: #fff;
    }
  }
}

.site-nav {
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 150px;
  //background-color: #ddd;
  height: 50px;
  padding: 0 5px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: solid 1px rgba(#fff, 0.5);
    bottom: 8px;
    left: 0;
    animation: balance-rotate 10s alternate infinite;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: {
      style: solid;
      width: 8px 4px;
      color: transparent transparent rgba(#fff, 0.5);
    }
  }

  a {
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;
    //background-color: #ccc;

    &:hover {
      //background-color: #aaa;
      color: #112233;
    }

    &:first-child {
      .text {
        display: block;
        animation: balance 10s alternate infinite;
      }
    }

    &:last-child {
      .text {
        display: block;
        animation: balance-reverse 10s alternate infinite;
      }
    }
  }
}

.site-description {
  @include container;
  @include clearfix;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 1;
  color: $white;
  background-color: rgba($black, 0.1);

  &.hidden {
    display: block;
    max-height: 0;
  }

  &__avatar {
    float: left;
    max-width: 20%;
    margin: 20px 20px 20px 0;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__text {
    margin: 20px 0;

    p {
      margin: 0;
      line-height: 1.4;
    }
  }

  &__links {
    .text {
      @include hide-text;
    }
    .icon {
      &-svg {
        transition: fill 0.1s ease;
        fill: $white;

        &:hover {
          fill: $black;
        }
      }

      &-twitter {
        &:hover {
          fill: shade($color__twitter, 50%);
        }
      }

      &-github {
        &:hover {
          fill: $color__github;
        }
      }

      &-codepen {
        &:hover {
          fill: $color__codepen;
        }
      }

      &-linkedin {
        &:hover {
          fill: shade($color__linkedin, 50%);
        }
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__toggle {
    @include nudge(10px, 'right');
    display: block;
    font-size: 14px;
    color: rgba($white, 0.7);
    cursor: pointer;

    &:hover {
      color: $white;
    }

    .who {
      display: none;
    }

    .hide {
      position: relative;

      &:after {
        position: absolute;
        left: -10px;
        @include centered('v');
        content: "\00d7";
      }
    }

    &.hidden {
      .who {
        display: block;
      }

      .hide {
        display: none;
      }
    }
  }
}
